@using CashMe.Core.Data;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    var lsLinked_Site = ViewBag.lsLinked_Site as IEnumerable<Linked_Site>;
}
<style>
    table th {
    text-align: center;
    vertical-align: middle;
}
</style>
<div class="panel">
    <div class="panel-header header-line text-center">
        <h3><strong>QUẢN LÝ VOUCHER </strong></h3>
    </div>
    <div class="panel-body bg-white">
        <div class="col-md-12">
            <table id="tbVoucher" class="table table-hover">
                <thead>
                    <tr>
                        <th><a href="#" role="button" onclick="javascript: getVoucherById(0);" data-toggle="modal" data-target="#detail_modal" class="btn btn-primary btn-embossed btn-sm"><i class="fa fa-plus"></i> Thêm</a></th>
                        <th>Website</th>
                        <th>Tên Voucher</th>
                        <th>Nội dung</th>
                        <th>Ngày hết hạn</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>

<div class="modal fade" id="detail_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="frmVoucher">

                <div class="modal-header bg-aero">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    <h4 class="modal-title"><strong><span class="title_modal">CHI TIẾT</span></strong></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Tên Voucher</label>
                                <input type="text" class="form-control" name="VoucherName" required>
                                <input type="hidden" name="Id" value="0" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Nội dung</label>
                                <textarea  class="form-control Body" name="Body" required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Website</label>
                                <select class="form-control" data-search="true" name="Linked_SiteId">
                                    @foreach (var item in lsLinked_Site)
                                    {
                                        <option value="@item.Id">@item.SiteName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Ngày hết hạn</label>
                                <div class="prepend-icon">
                                    <input type="text" name="EndDate" class="date-picker form-control" placeholder="Chọn ngày...">
                                    <i class="icon-calendar"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <p>
                                    <strong>Trạng thái</strong>
                                </p>
                                <div class="input-group">
                                    <div class="icheck-inline">
                                        <label><input type="radio" name="Flag" value="0" data-radio="iradio_square-blue"> Ngưng hoạt động</label>
                                        <label><input type="radio" name="Flag" value="1" data-radio="iradio_square-blue" checked> Hoạt động</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary btn-embossed">Lưu lại</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Content/admin/Scripts/VoucherScript.js"></script>