@{
    ViewBag.Title = "Reset password confirmation";
}
<div class="col-md-4 col-md-offset-4" style="margin-top:35px;margin-bottom:35px">
    <aside id="tg-sidebar" class="tg-sidebar">
        <div class="tg-widget tg-widgetlogin">
            <div class="tg-widgetcontent">
                <div class="tg-widgettitle">
                    <h3>Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h3>
                </div>
            </div>
        </div>
    </aside>
</div>
