@{
    ViewBag.Title = "Guide";
}
<div class="tg-pageinnerbanner tg-haslayout tg-parallaximg" data-appear-top-offset="600" data-parallax="scroll" data-image-src="~/Content/assets/~/Content/assets/images/banner/img-02.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="tg-pageheadcontent">
                    <div class="tg-pagetitle">
                        <h1>HƯỚNG DẪN SỬ DỤNG</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8 col-md-offset-2" style="margin-top:35px;">
    <p>Bước 1: Đăng ký / đăng nhập tài khoản</p>
    <img src="~/Content/Images/Guide/1.jpg" /><br /><br />
    <p>Bước 2: Sau khi đăng nhập thành công, click vào logo bạn muốn mua hàng</p>
    <img src="~/Content/Images/Guide/2.jpg" /><br /><br />
    <p>Bước 3: Vào chọn sản phẩm và đặt hàng như bình thường => Done</p>
    <img src="~/Content/Images/Guide/3.jpg" /><br /><br />
    <p>Bước 4: Vậy là xong, chờ hệ thống cập nhật tiền cashback cho bạn, hãy thường xuyên vào kiểm tra nhé</p>
</div>
