<footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="tg-quicklinks">
        <div class="container">
            <div class="row">
                <div class="tg-fcols">
                    <div class="tg-fcol">
                        <a href="index.html"><h3><strong class="tg-logo"><span class="text-info">Cash</span>Me</strong></h3></a>
                        <ul class="tg-contactinfo">
                            <li><a href="index.html#"><i class="fa fa-location-arrow"></i><address>39B Trường Sơn, Quận Tân Bình, TP HCM</address></a></li>
                            <li><a href="index.html#"><i class="fa fa-phone"></i><span>0932915325 - 0968536235</span></a></li>
                            <li><a href="index.html#"><i class="fa fa-envelope-o"></i><span>duytran1402@gmail.com</span></a></li>
                        </ul>
                        <ul class="tg-socialsharewithtext">
                            <li class="tg-facebook">
                                <a class="tg-roundicontext" href="index.html#">
                                    <em class="tg-usericonholder">
                                        <i class="fa fa-facebook-f"></i>
                                        <span>share on facebook</span>
                                    </em>
                                </a>
                            </li>
                            <li class="tg-twitter">
                                <a class="tg-roundicontext" href="index.html#">
                                    <em class="tg-usericonholder">
                                        <i class="fa fa-twitter"></i>
                                        <span>share on twitter</span>
                                    </em>
                                </a>
                            </li>
                            <li class="tg-linkedin">
                                <a class="tg-roundicontext" href="index.html#">
                                    <em class="tg-usericonholder">
                                        <i class="fa fa-linkedin"></i>
                                        <span>share on linkdin</span>
                                    </em>
                                </a>
                            </li>
                            <li class="tg-googleplus">
                                <a class="tg-roundicontext" href="index.html#">
                                    <em class="tg-usericonholder">
                                        <i class="fa fa-google-plus"></i>
                                        <span>share on googl+</span>
                                    </em>
                                </a>
                            </li>
                            <li class="tg-rss">
                                <a class="tg-roundicontext" href="index.html#">
                                    <em class="tg-usericonholder">
                                        <i class="fa fa-rss"></i>
                                        <span>share on RSS</span>
                                    </em>
                                </a>
                            </li>
                            <li class="tg-youtube">
                                <a class="tg-roundicontext" href="index.html#">
                                    <em class="tg-usericonholder">
                                        <i class="fa fa-youtube-play"></i>
                                        <span>share on YouTube</span>
                                    </em>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tg-fcol tg-specialities">
                        <div class="tg-title">
                            <h3>Đối tác</h3>
                        </div>
                        <ul>
                            <li><a href="#">Lazada.vn</a></li>
                            <li><a href="#">Tiki.vn</a></li>
                            <li><a href="#">Adayroi.com</a></li>
                            <li><a href="#">fptshop.com.vn</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">sendo.vn</a></li>
                            <li><a href="#">nguyenkim.com</a></li>
                            <li><a href="#">vienthonga.vn</a></li>
                            <li><a href="#">ivivu.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tg-footerbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <nav id="tg-footernav" class="tg-footernav">
                        <ul>
                            <li class="tg-active"><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                            <li><a href="@Url.Action("MainCashBack","Home")">CASH4ME</a></li>
                            <li><a href="@Url.Action("Guide","Home")">Hướng dẫn sử dụng</a></li>
                            <li><a href="@Url.Action("CashBackDetail","Home")">Chi tiết danh mục hưởng chiết khấu</a></li>
                        </ul>
                    </nav>
                    <span class="tg-copyright">2017 All Rights Reserved &copy; <a href="#">CashMe</a></span>
                </div>
            </div>
        </div>
    </div>
</footer>
